<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Library App</title>
    </head>
    <body>
        <%- include('../partials/header') %>

        <ul>
            <% allCustomers.forEach( customer => { %>
             <li>
                 <a href=""><%- customer.name; %></a>
                 <a href="">Edit</a>
                 <a href="">Delete</a>
            </li>
            <% }) %>
        </ul>

        <a href="">Create Customer</a>

        <%- include('../partials/footer') %>
    </body>
</html>
