<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Library App</title>
    </head>
    <body>
        <%- include('partials/header') %>
        Homepage
        <%- include('partials/footer') %>
    </body>
</html>
